section.description-premiere {
  margin-top: 125px;
  margin-bottom: 80px;
}

section.description-premiere h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.25px;
  color: #000;
}

section.description-premiere .movie-description {
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0px 8px 24px rgba(17, 17, 17, 0.08);
}

section.description-premiere .movie-description .card.image {
  width: 249px;
  height: 344px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  border: 0.5px solid #dedede;
  transform: translateY(7px);
}

section.description-premiere .movie-description .card.image img {
  border-radius: 4px;
  cursor: pointer;
}

section.description-premiere .movie-description .card.image .shadow {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #ffffff;
  background-color: #5f2eea;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s ease;
}

section.description-premiere
  .movie-description
  .card.image
  .file-input:hover
  + .shadow {
  opacity: 0.6;
}

section.description-premiere .movie-description .card.image .file-input {
  width: 177px;
  height: 275px;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 999;
}

section.description-premiere .movie-description .btn-add-movie {
  width: 249px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #fcfdfe;
  transition: 0.5s ease;
  background-color: #5f2eea;
}

.modal.time .form-control {
  height: 48px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dedede;
  box-sizing: border-box;
  line-height: 26px;
  letter-spacing: 0.75px;
  color: #a0a3bd;
  font-weight: 600;
  font-size: 14px;
}

section.description-premiere .movie-description .btn-add-movie:hover {
  border: 1px solid #5f2eea;
  color: #5f2eea;
  background-color: #fcfdfe;
}

section.description-premiere .movie-description label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4e4b66;
}

section.description-premiere .movie-description label.hour {
  white-space: nowrap;
}

section.description-premiere .movie-description input.form-control {
  height: 64px;
  background-color: #fcfdfe;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  padding-left: 24px;
}

section.description-premiere .movie-description input.form-control.director {
  width: 250px;
}

section.description-premiere
  .movie-description
  input.form-control::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}

section.description-premiere
  .movie-description
  input.form-control[type="date"]::-webkit-calendar-picker-indicator {
  background: url(../img/Forward.png) no-repeat;
  background-size: 18px;
  display: block;
  background-position-y: center;
}

section.description-premiere .form-group.category {
  margin-top: 34px;
}

section.description-premiere .form-row {
  margin-top: 34px;
}

section.description-premiere .form-group.casts {
  margin-top: 14px;
}

section.description-premiere .form-group.director {
  margin-top: 36px;
}

section.description-premiere .movie-description textarea.form-control {
  height: 110px;
  background-color: #fcfdfe;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  padding-left: 24px;
  padding-top: 15px;
  padding-bottom: 22px;
}

section.description-premiere
  .movie-description
  textarea.form-control::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}

section.description-premiere .location {
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0px 8px 24px rgba(17, 17, 17, 0.08);
}

section.description-premiere .location select {
  width: 200px;
  height: 50px;
  background-color: #eff0f6;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  padding-left: 24px;
  background-image: url(../img/location.png);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-x: 90%;
  background-position-y: center;
  border: 0;
}

section.description-premiere .location div.active {
  width: 110px;
  height: 74px;
  background-color: #fcfdfe;
  box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.08);
  border-radius: 4px;
}

section.description-premiere .location div.not-active {
  width: 110px;
  height: 74px;
  background-color: transparent;
  border-radius: 4px;
}

section.description-premiere .showtimes {
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0px 8px 24px rgba(17, 17, 17, 0.08);
}

section.description-premiere .showtimes input[type="date"] {
  width: 220px;
  height: 56px;
  background-color: #eff0f6;
  border-radius: 6px;
  border: 0;
  padding-left: 26px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #4e4b66;
}

section.description-premiere
  .showtimes
  input[type="date"]::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #4e4b66;
}

section.description-premiere
  .showtimes
  input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(../img/calendar.png) no-repeat;
  background-size: 18px;
  display: block;
  background-position-y: center;
}

section.description-premiere .showtimes .btn-plus {
  width: 62px;
  height: 30px;
  border: 1px solid #5f2eea;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 22px;
  transition: 0.5s ease;
}

section.description-premiere .showtimes .btn-plus:hover {
  opacity: 0.6;
}

section.description-premiere .showtimes span {
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  margin-right: 15px;
  margin-top: 10px;
}

section.description-premiere .based {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0px 8px 24px rgba(17, 17, 17, 0.08);
}

section.description-premiere .based a {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  text-decoration: none;
  color: #aaa;
  cursor: pointer;
  transition: 0.5s ease;
}

section.description-premiere .based a:hover {
  color: #14142b;
}

section.description-premiere .based a.active {
  color: #14142b;
}

section.description-premiere .based a.active:hover {
  color: #aaa;
}

section.description-premiere .based a.active::after {
  content: "";
  display: block;
  transform: translateY(16px);
  border-bottom: 2px solid #5f2eea;
}

section.description-premiere .card.chart {
  background-color: #fff;
  box-shadow: 0px 8px 24px rgba(17, 17, 17, 0.08);
  border-radius: 4px;
  border: 0;
  box-sizing: border-box;
}

section.description-premiere .card.chart h2 {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #151522;
}

section.description-premiere .card.chart .link a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #5f2eea;
  text-decoration: none;
  transition: 0.5s ease;
}

section.description-premiere .card.chart .link a:hover {
  opacity: 0.6;
}

section.description-premiere .card.chart .link a.active::after {
  content: "";
  display: block;
  border-bottom: 5px solid #5f2eea;
  border-radius: 0px;
  transform: translateY(10px);
}

section.description-premiere .card.chart .price span {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #999;
  margin-top: 20px;
}

section.description-premiere .card.chart .price span:first-of-type {
  margin-top: 25px;
}

section.description-premiere .card.chart .lines {
  position: relative;
}

section.description-premiere .card.chart .lines img {
  position: absolute;
  top: 50px;
  left: -30px;
}

section.description-premiere .card.chart .month span {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #999;
  margin-top: 16px;
  margin-right: 29px;
}

section.description-premiere .card.chart .month span:first-of-type {
  margin-left: 50px;
}

section.description-premiere .view-more {
  margin-top: 80px;
}

section.description-premiere .view-more hr {
  border: 1px solid #dedede;
}

section.description-premiere .view-more a {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #5f2eea;
  text-decoration: none;
  transition: 0.5s ease;
}

section.description-premiere .view-more a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1200px) {
  section.description-premiere .showtimes span {
    margin-right: 21px;
  }
  section.description-premiere .location select {
    width: 260px;
    height: 56px;
  }

  section.description-premiere .showtimes input[type="date"] {
    width: 260px;
  }
}

@media screen and (max-width: 1119px) {
  section.description-premiere .movie-description input.form-control.director {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  section.description-premiere {
    margin-top: 110px;
    margin-bottom: 56px;
  }

  section.description-premiere h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.75px;
  }

  section.description-premiere .based a {
    font-size: 14px;
    line-height: 26px;
    white-space: nowrap;
  }

  section.description-premiere .showtimes .btn-plus {
    width: 58px;
    height: 26px;
  }

  section.description-premiere .showtimes span {
    font-weight: 400;
    font-size: 13px;
    margin-right: 15px;
  }

  section.description-premiere .view-more {
    margin-top: 56px;
  }

  section.description-premiere .view-more a {
    font-size: 14px;
    line-height: 26px;
    white-space: nowrap;
  }

  section.description-premiere .movie-description .btn-add-movie:hover {
    border: 1px solid transparent;
    color: #fcfdfe;
    background-color: #5f2eea;
    opacity: 0.6;
  }

  section.description-premiere .form-group.category,
  section.description-premiere .form-row,
  section.description-premiere .form-group.casts {
    margin-top: 0px;
  }

  section.description-premiere .form-group.director {
    margin-top: 30px;
  }
}
