main section.forgot-password {
  padding-left: 100px;
  padding-top: 80px;
  padding-right: 32px;
  box-sizing: border-box;
  grid-area: section;
  background-image: url(../img/bg.png);
  background-size: cover;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

main section.forgot-password::after {
  content: "";
  display: block;
  background-color: rgba(43, 21, 107, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

main section.forgot-password img {
  width: 20.3vmax;
  margin-bottom: 60px;
  z-index: 1;
}

main section.forgot-password h1 {
  z-index: 1;
  font-weight: 470;
  font-size: 3.6vmax;
  color: #fff;
  line-height: 60px;
  letter-spacing: 0.003em;
}

main section.forgot-password p {
  z-index: 1;
  font-weight: 400;
  font-size: 1.8vmax;
  color: rgba(255, 255, 255, 0.7);
}

main section.forgot-password p.main {
  z-index: 1;
  font-weight: 400;
  font-size: 1.8vmax;
  color: #fff;
}

main section.forgot-password span.one,
main section.forgot-password span.two,
main section.forgot-password span.three,
main section.forgot-password span.four {
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section.forgot-password span.one {
  background-color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.005em;
  color: rgba(41, 3, 65, 0.5);
}

main section.forgot-password span.two,
main section.forgot-password span.three,
main section.forgot-password span.four {
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.005em;
  color: #ffffff;
}

main aside.forgot-password img {
  display: none;
}

main aside.forgot-password {
  grid-area: aside;
  background-color: #f5f6f8;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-170px);
}

main aside.forgot-password h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #121212;
  line-height: 33px;
  letter-spacing: 0.005em;
  margin-bottom: 12px;
  margin-right: auto;
}

main aside.forgot-password p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #aaaaaa;
  margin-right: auto;
  margin-bottom: 49px;
}

main aside.forgot-password form label {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #4e4b66;
}

main aside.forgot-password form input.form-control {
  font-family: "Mulish", sans-serif;
  margin-top: 12px;
  margin-bottom: 48px;
  background-color: #fcfdfe;
  border: 1px solid #dedede;
  border-radius: 16px;
  width: 400px;
  height: 64px;
  box-sizing: border-box;
  padding-left: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #a0a3bd;
  transition: 0.5s ease;
}

main aside.forgot-password form input:focus {
  border: 1px solid transparent;
}

main aside.forgot-password form input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #a0a3bd;
}

main aside.forgot-password form input[type="password"] {
  background-image: url(../img/eye.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: 94%;
  background-position-y: center;
}

.btn-activate {
  font-family: "Mulish", sans-serif;
  width: 400px;
  height: 64px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  background-color: #5f2eea;
  border-radius: 16px;
  color: #f7f7fc;
  border: 1px solid transparent;
  margin-bottom: 32px;
  transition: 0.5s ease;
}

.btn-activate:hover {
  cursor: pointer;
  background-color: #f7f7fc;
  color: #5f2eea;
  border: 1px solid #5f2eea;
}

.btn-activate:active {
  border: 1px solid transparent;
}

main aside.forgot-password p.forgot-password {
  font-weight: 500;
  font-size: 16px;
  margin: auto;
  margin-bottom: 40px;
  color: #8692a6;
}

/* Responsive Breakpoints */
@media screen and (max-width: 992px) {
  main aside.forgot-password {
    padding-top: 150px;
  }

  main section.forgot-password {
    display: none;
  }

  main aside.forgot-password img {
    display: block;
    width: 85px;
    height: 33px;
    margin-top: 48px;
    margin-bottom: 20px;
    margin-right: auto;
  }

  main aside.forgot-password h1 {
    font-family: "Mulish", sans-serif;
    font-size: 26px;
  }
}

@media screen and (max-width: 576px) {
  main aside.forgot-password form input.form-control {
    margin-bottom: 30px;
    border-radius: 12px;
    width: 327px;
  }

  .btn-activate {
    width: 327px;
    font-size: 16px;
    border-radius: 12px;
    color: #f7f7fc;
    margin-bottom: 32px;
    margin-top: 10px;
  }
}
