nav.details-order {
  margin-top: 77px;
  background-color: #fff;
}

nav.details-order a {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.75px;
  color: #14142b;
  text-decoration: none;
  transition: 0.4s ease;
  cursor: pointer;
}

nav.details-order a.active::after {
  content: "";
  display: block;
  border-bottom: 1px solid #5f2eea;
  transform: translateY(15px);
}

nav.details-order a {
  color: #aaaaaa;
}

nav.details-order a.active {
  color: #14142b;
}

nav.details-order a.active:hover {
  color: #aaaaaa;
}

nav.details-order a:hover {
  color: #14142b;
}

/* Profile */
.profile {
  margin-top: 125px;
}

.profile .info {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 8px 32px rgba(186, 186, 186, 0.08);
  border-radius: 6px;
  padding-bottom: 100px;
}

.profile h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  text-transform: uppercase;
  transform: translateY(5px);
}

.profile .dot div {
  cursor: pointer;
}

.profile .dot span {
  width: 5px;
  height: 5px;
  background-color: #5f2eea;
  border-radius: 50%;
  margin-right: 4px;
}

.profile img.rounded-circle {
  filter: drop-shadow(0px 8px 16px rgba(73, 83, 99, 0.24));
}

.profile .info .img-container,
.profile .info .img-container .image {
  position: relative;
}

.profile .info .img-container img {
  cursor: pointer;
}

.profile .info .img-container .shadow {
  position: absolute;
  font-family: "Mulish";
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #ffffff;
  background-color: #5f2eea;
  width: 136px;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s ease;
}

.profile .info .file-input:hover + .shadow {
  opacity: 0.6;
}

.profile .info .file-input {
  position: absolute;
  width: 136px;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  z-index: 999;
}

.profile h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #14142b;
  white-space: nowrap;
}

.profile p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}

.profile hr {
  width: 100%;
  border-bottom: 1px solid #dedede;
}

.profile h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  white-space: normal;
}

.profile .moviegoers {
  height: 125px;
  background: linear-gradient(75deg, #5f2eea 31.28%, #7647f9 62.16%);
  border-radius: 8px;
  position: relative;
}

.profile .moviegoers h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #fff;
}

.profile .moviegoers p {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
  color: #fff;
}

.profile .moviegoers p span {
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #ffffff;
}

.profile .moviegoers div:first-of-type {
  position: absolute;
  right: -50px;
  top: -30px;
  width: 122px;
  height: 122px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.profile .moviegoers div:last-of-type {
  position: absolute;
  right: -30px;
  top: -60px;
  width: 122px;
  height: 122px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.profile .moviegoers img {
  position: absolute;
  right: 0;
  top: 0;
}

.profile h5 {
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.25px;
  color: #4e4b66;
}

.profile .progress,
.profile .progress-bar {
  border-radius: 8px;
}

.profile .progress-bar {
  background-color: #5f2eea;
}

.profile .breadcrumbs-custom {
  height: 84px;
  background-color: #fff;
  border-radius: 6px;
}

.profile .breadcrumbs-custom a {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #14142b;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s ease;
}

.profile .breadcrumbs-custom a:last-of-type {
  color: #aaaaaa;
}

.profile .breadcrumbs-custom a:hover {
  color: #aaaaaa;
}

.profile .breadcrumbs-custom a:last-of-type:hover {
  color: #14142b;
}

.profile .breadcrumbs-custom a.active::after {
  content: "";
  display: block;
  transform: translateY(24px);
  border-bottom: 2px solid #5f2eea;
}

.profile .details-information,
.profile .account-privacy {
  background-color: #fff;
  border-radius: 8px;
}

.profile .details-information p,
.profile .account-privacy p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #14142b;
}

.profile .details-information hr,
.profile .account-privacy hr {
  border-bottom: 1px solid #dedede;
}

.profile .details-information form input.error,
.profile .account-privacy form input.error {
  border: 1px solid #ea2e57;
}

.profile .details-information small.error {
  color: #ea2e57;
}

.profile .account-privacy small.error {
  color: #ea2e57;
}

.profile .details-information form input,
.profile .account-privacy form input {
  height: 64px;
  background-color: #fcfdfe;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  padding-left: 24px;
}

.profile .details-information form input::-webkit-input-placeholder,
.profile .details-information form .input-group-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}

.profile .details-information form .input-group-text {
  background-color: #fcfdfe;
  border: 1px solid #dedede;
}

.profile .details-information form .input-group-text.error {
  border: 1px solid #ea2e57;
}

.profile .account-privacy form input,
.profile .account-privacy form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #a0a3bd;
}

.profile .account-privacy form div.password-container {
  position: relative;
}

.profile .account-privacy form .img-eye {
  position: absolute;
  display: block;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.profile .btn-update {
  width: 360px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  background-color: #5f2eea;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #f7f7fc;
  transition: 0.5s ease;
}

.profile .btn-update:hover {
  border: 1px solid #5f2eea;
  background-color: #f7f7fc;
  color: #5f2eea;
}

.profile .btn-delete {
  width: 360px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  background-color: #ea2e57;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #f7f7fc;
  transition: 0.5s ease;
}

.profile .btn-delete:hover {
  border: 1px solid #ea2e57;
  background-color: #f7f7fc;
  color: #ea2e57;
}

.profile h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #14142b;
}

@media screen and (max-width: 991px) {
  nav.navbar {
    box-shadow: inherit;
  }

  .form-search.profile {
    margin-top: 110px !important;
  }

  .profile {
    margin-top: 185px;
  }

  .profile .account-privacy form input {
    background-position-x: 96%;
  }

  .profile .btn-update:hover {
    border: 1px solid transparent;
    background-color: #5f2eea;
    color: #f7f7fc;
    opacity: 0.7;
  }
}

@media screen and (max-width: 576px) {
  .form-search.profile {
    margin-top: 90px !important;
  }

  .profile .btn-update {
    width: 280px;
    height: 50px;
  }

  .profile .details-information form input,
  .profile .account-privacy form input {
    height: 60px;
  }
}
